<br><br>
<a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span style="color: white;" class="fs-5 d-none d-sm-inline">Menu</span>
</a>
<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
    <li>
        <a  
        href="#"
        class="nav-link px-0 align-middle" 
        style="color: white;"
        >Dashboard</a>
    </li>
    <li>
        <a 
        class="nav-link px-0 align-middle" 
        style="color: white;"
        routerLink="/repots" 
        >Employee</a>
    </li>
    <li>
        <a 
        class="nav-link px-0 align-middle" 
        style="color: white;"
        routerLink="/equipments" 
        >Equipments</a>
    </li>
    <li>
        <a  
        class="nav-link px-0 align-middle" 
        style="color: white;"
        >Customers</a>
    </li>
    <li>
        <a  
        class="nav-link px-0 align-middle" 
        style="color: white;"
        >Calendar</a>
    </li>
</ul>
<hr>
<ul style="margin-top: -10%;" class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="Mail">
    <li>
        <a  
        class="nav-link px-0 align-middle" 
        style="color: white;"
        routerLink="mail-menu"
        >Inbox</a>
    </li>
    <li>
        <a  
        class="nav-link px-0 align-middle" 
        style="color: white;"
        >Account</a>
    </li>
    <li>
        <a  
        class="nav-link px-0 align-middle" 
        style="color: white;"
        routerLink="chat"
        >Chat</a>
    </li>
</ul>
